<header>
  <div class="logo">Xero<span>Source</span></div>
</header>
<div class="nav-btn">Menu</div>
<div class="container">
  
  <div class="sidebar">
    <nav>
      <a href="/categories" class="logo_a"><%= image_tag "logo.png" %></a>
      <ul>
        <li><%= link_to "/tickets" do %>
          <i class="fa-solid fa-ticket">
          </i>
          <% end %>
        </li>
        
        <li>
          <%= link_to "/categories" do %>
          <i class="fa-solid fa-book-open"></i></li>
          </i>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>

  <div class="topnav">
    <span>Tickets</span>
    

  </div>

  <div class="main-content">
    <div class="flex-holder">
      <% @tickets.each do |ticket| %>
      <div class="flex-ticket">
        <i class="fa-solid fa-ticket"></i> &nbsp;&nbsp;&nbsp;&nbsp;
        <span><%= link_to "#{ticket.title}", ticket %></span>
      </div>

      <% end %>
    </div>
  </div>
</div>

